/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body {
    background-image: url(../images/event4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main > .container, body > .container {
    background-color: rgba(255,255,255, 0.8);
    padding: 60px 15px 0;
}

.footer {
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}
.navbar-brand {
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
}
.bord-header {
    color: rgb(202, 13, 60);
}
.event-card {
    background-color: white;
    border-radius: 4px;
    padding: 15px;
    border: 1px solid black;
    cursor: pointer;
    width: 180px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    margin-bottom: 1rem;
}
.event-card p {
    margin: 0;
}
.event-card:hover {
    text-decoration: none;
    color: black;
    background-color: #C1666C;
}
.event-card-title {
    font-size: 1.2em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.event-card-date {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.error {
    color: red;
}