<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/style.css" rel="stylesheet">
        <title>BORD</title>
    </head>
    <body>
        <header>
        </header>

        <div class= "bord">
            <h1>Willkommen bei <strong>BORD</strong> - Ihrem <strong>F</strong>estival</h1>
        </div>
        <div class="center">
            <h2>Wähle Dein Ticket</h2>
            <div class="buy_ticket">
                <fieldset>
                    <legend><strong>Welches Event?</strong></legend><br>
                    <form action="#" th:action="@{/buy_ticket}"  method="post">
                    <label for="ticket">Dein Event</label>
                        <select name="ticket" th:name="eventId" >
                                <option th:each="event : ${events}" th:text="${event.getName()}" th:value="${event.getId()}" >

                            </option>
                        </select>
                        <button type="submit" name="action" value="save">save</button>
                    </form>
                    <br><br>
                    <label for="date">Dein Datum</label>
                    <input type="text" name="date" id="date" value="" placeholder="JJJJ-MM-TT" required><br><br>
                </fieldset>
                <fieldset>
                    <legend><strong>Welches Ticket?</strong></legend><br>
                    <label for="type">Dein Tickettyp</label>
                    <select name="type">
                    <option value="">Tages-Ticket</option>
                    <option value="">Camping-Ticket</option>
                    <option value="">VIP-Ticket</option>
                    </select><br><br>
                    <lable>Dein Preis</lable>
                    <input type="text" name="price" value="" placeholder="" required/><br/>
                </fieldset><br>	
                <input type="submit" name="buy" value="Ticket jetzt kaufen"/>  
            </div>	
        </div>
        <div class="logout">
            <a href=""><button>Logout</button></a>
        </div>
        <div class="back">
            <a href="login_user.html"><button>Zurück zur Auswahl</button></a>
        </div>

        </footer>
        </footer>
    </body>
</html>
