<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="de" class="h-100">
    <head th:replace="fragments/head :: head">
    </head>

    <body class="h-100">
        <header th:replace="fragments/header :: header">
        </header>
            <div class="container stretch-to-bottom">
                <div class="row align-items-center justify-content-center">
                        <div class="col-lg-8 col-sm-12 mb-3">
                        <h3>Choose your ticket</h3>
                        <div class="buy_ticket">

                            <div class="only" th:if="${ticketCounter.isCartFull()}"><div class="alert alert-warning" role="alert">Only 10 tickets allowed</div></div>

                            <div th:if="${ticketCounter.areNoTicketsInCart()}"><div class="alert alert-warning" role="alert">Please choose a ticket</div></div>


                            <div>Event: <p th:text="${theEvent.getName()}"> </p></div>


                            <!--<select name="ticket" th:name="eventId" >
                               <option th:each="event : ${events}" th:text="${event.getName()}" th:value="${event.getId()}" >
                           </option>
                            </select> -->
                            <!-- <button type="submit" name="action" value="save">save</button> -->
                            <div>Date: <p th:text="${theEvent.getStartDateDDMMYYYY()}"> </p></div>
                            <br>

                            <h3>Which ticket?</h3>
                            <label th:text="${'Day-Ticket ['+ticketCounter.getDayTicketCounter()+']'}"></label>
                            <div>Price: <p th:text="${theEvent.getTheActualPricelevel().getDayTicketPrice()}"> € </p>
                                <form action="#" th:action="@{/addToBasket}"  method="post" >
                                    <input   hidden th:name="ticketType" th:value="${T(de.bord.festival.ticket.Type).DAY}"/>
                                <button class="btn btn-outline-danger" type="submit"/>Add Day ticket</button>
                                </form>
                            </div>
                            <br/>
                            <label th:text="${'Camping-Ticket ['+ticketCounter.getCampingTicketCounter()+']'}"></label>
                            <div>Price: <p th:text="${theEvent.getTheActualPricelevel().getCampingTicketPrice()}"> €</p>
                                <form action="#" th:action="@{/addToBasket}"  method="post" >
                                <input   hidden th:name="ticketType" th:value="${T(de.bord.festival.ticket.Type).CAMPING}"/>
                                <button class="btn btn-outline-danger" type="submit"/>Add Camping ticket</button>
                                </form>
                            </div>
                            <br/>
                            <label th:text="${'VIP-Ticket ['+ticketCounter.getVipTicketCounter()+']'}"></label>
                            <div>Price: <p th:text="${theEvent.getTheActualPricelevel().getVipTicketPrice()}"> €</p>
                                <form action="#" th:action="@{/addToBasket}"  method="post" >
                                    <input   hidden th:name="ticketType" th:value="${T(de.bord.festival.ticket.Type).VIP}"/>
                                    <button class="btn btn-outline-danger" type="submit"/>Add VIP ticket</button>
                                </form>
                            </div>
                            <br/>
                            <label th:text="${'Your Price: '+ #numbers.formatDecimal(client.getExpenditureByPricesFromCart(),3,2,'COMMA')}"> <!-- getPrice --> </label>
                            <br><br>

                            <div class="form-group">
                                <form action="#" th:action="@{/buy_ticket}"  method="post">
                                    <input type="submit" value="Buy now" class="btn btn-outline-danger float-left mr-3"/>
                                </form>
                                <form action="#" th:action="@{/resetBasket}"  method="post" >
                                    <input   hidden th:name="ticketType" th:value="${T(de.bord.festival.ticket.Type).DAY}"/>
                                    <button class="btn btn-outline-danger float-left mr-3" type="submit"/>Reset</button>
                                </form>
                                <a href="user_menu" class="btn btn-outline-danger float-left">Back to select</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <footer th:replace="fragments/footer :: footer">
        </footer>

        <th:block th:include="fragments/javascript :: javascript"></th:block>
    </body>
</html>






