<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/style.css" rel="stylesheet">
        <title>BORD</title>
    </head>
    <body>
        <header>
        </header>

        <div class= "bord">
            <h1>Welcome To <strong>BORD</strong> - Your <strong>F</strong>estival</h1>
        </div>
        <div class="center">
            <h3>Choose your ticket</h3>
            <div class="buy_ticket">
                <fieldset>
                    <legend><strong>Your event</strong></legend><br>
                    <form action="#" th:action="@{/buy_ticket}"  method="post">
                        <label for="ticket">Decription</label>
                        <select name="ticket" th:name="eventId" >
                                <option th:each="event : ${events}" th:text="${event.getName()}" th:value="${event.getId()}" >
                            </option>
                        </select>
                        <button type="submit" name="action" value="save">save</button>
                    </form>
                    <br><br>
                    <label for="date">Date</label>
                    <input type="text" name="date" value="" placeholder="" required readonly/><br/>
                </fieldset>
                <fieldset>
                    <legend><strong>Which ticket?</strong></legend><br>
                    <label for="type">Day-Ticket</label>
                    <input type="text" name="dayticket" value="" placeholder="" required readonly/> €
                    <input class="button" type="submit" name="day_ticket" value="Add"/>
                    <br/><br>
                    <label for="type">Camping-Ticket</label>
                    <input type="text" name="campingticket" value="" placeholder="" required readonly/> €
                    <input class="button" type="submit" name="camping_ticket" value="Add"/>
                    <br/><br>
                    <label for="type">VIP-Ticket</label>
                    <input type="text" name="vipticket" value="" placeholder="" required readonly/> €
                    <input class="button" type="submit" name="vip_ticket" value="Add"/>
                    <br/><br>
                    <label>Your Price</label>
                    <input type="text" name="price" value="" placeholder="" required readonly/> €<br/>
                </fieldset><br>
                <input type="submit" name="buy" value="Buy ticket"/>
            </div>	
        </div>
        <div class="logout">
            <a href=""><button>Logout</button></a>
        </div>
        <div class="back">
            <a href="user_menu.html"><button>Back</button></a>
        </div>

        </footer>
        </footer>
    </body>
</html>
