<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/style.css" rel="stylesheet">
        <title>BORD</title>
    </head>
    <body>
        <header>
        </header>

        <div class= "bord">
            <h1>Willkommen bei <strong>BORD</strong> - Ihrem <strong>F</strong>estival</h1>
        </div>

        <div class="center">
            <div class="content">
                <h2 class="float-left">Festivalübersicht</h2>
                <a href="event_create" class="button float-left clear-left">Event anlegen</a>
                <h3 class="float-left clear-left">2021</h3>
                <div class="event-card float-left clear-left">
                    <p class="event-card-title">Mai-Feierei</p>
                    <p class="event-card-date">13.05. - 16.05.</p>
                    <p>Erfurt</p>
                </div>

                <h3 class="float-left clear-left">2020</h3>
                <div class="event-card float-left clear-left">
                    <p class="event-card-title">Mai-Feierei</p>
                    <p class="event-card-date">07.05. - 10.05.</p>
                    <p>Erfurt</p>
                </div>
                <div class="event-card float-left">
                    <p class="event-card-title">FH Sommerfest</p>
                    <p class="event-card-date">11.06. - 14.06.</p>
                    <p>Erfurt</p>
                </div>

                <h3 class="float-left clear-left">2019</h3>
                <div class="event-card float-left clear-left">
                    <p class="event-card-title">Mai-Feierei</p>
                    <p class="event-card-date">19.05. - 20.05.</p>
                    <p>Erfurt</p>
                </div>
                <div class="event-card float-left">
                    <p class="event-card-title">Stadtfest</p>
                    <p class="event-card-date">11.06. - 14.06.</p>
                    <p>Jena</p>
                </div>
            </div>
            <div class="logout">
                <form th:action="@{/logout}" method="post">
                    <input class="button" type="submit" value="Ausloggen"/>
                </form>
            </div>
        </div>

        </footer>
        </footer>
    </body>
</html>


