<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="de">
    <head th:replace="fragments/head :: head">
    </head>
    <body>
        <header th:replace="fragments/header :: header">
        </header>

        <div class= "bord">
            <h1>Welcome To <strong>BORD</strong> - Your <strong>F</strong>estival</h1>
        </div>


        <div class="center">
            <div class="content">
                <h2 class="float-left">List of Events</h2>
                <a href="event_create" class="button float-left clear-left">Create Event</a>

                <th:block th:each="event, itemStat : ${events}">
                    <th:block th:if="${itemStat.index} > 0">
                        <th:block th:if="${events[__${itemStat.index - 1}__]} == null or ${events[__${itemStat.index - 1}__].startDate.getYear()} != ${event.startDate.getYear()}">
                            <h3 class="float-left clear-left" th:text="${event.startDate.getYear()}"></h3>
                            <div class="clear-left"></div>
                        </th:block>
                    </th:block>
                    <th:block th:unless="${itemStat.index} > 0">
                        <h3 class="float-left clear-left" th:text="${event.startDate.getYear()}"></h3>
                        <div class="clear-left"></div>
                    </th:block>
                    <div class="event-card float-left">
                        <p class="event-card-title" th:text="${event.name}"></p>
                        <p class="event-card-date" th:text="${event.startDate.getDayOfMonth()} + '.' + ${event.startDate.getMonthValue()} + '. - ' + ${event.endDate.getDayOfMonth()} + '.' + ${event.endDate.getMonthValue()}+ '.'"></p>
                        <p th:text="${event.getAddress().getCity()}"></p>
                    </div>
                </th:block>
            </div>
            <div class="logout">
                <form th:action="@{/logout}" method="post">
                    <input class="button" type="submit" value="Logout"/>
                </form>
            </div>
        </div>
        </div>

        <footer th:replace="fragments/footer :: footer">
        </footer>
    </body>
</html>


