<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="de" class="h-100">
    <head th:replace="fragments/head :: head">
    </head>
    <body class="h-100">
        <header th:replace="fragments/header :: header">
        </header>
        <div class="container stretch-to-bottom">
            <form action="#" th:action="@{/event_create}" method="post">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-12">
                        <div th:if="${param.success}" class="alert alert-success" role="alert">
                            Festival created successfully
                        </div>
                        <h2>Create Event</h2>
                        <!-- Festival information -->

                        <th:block th:object="${event}">
                            <div class="form-group">
                                <label for="name">Festival name</label>
                                <input class="form-control" type="text" th:field="*{name}" id="name"/>
                                <p class="error" th:if="${#fields.hasErrors('name')}"th:errors="*{name}"  ></p>
                            </div>
                            <div class="form-group">
                                <label for="budget">Budget</label>
                                <input class="form-control" type="number" th:field="*{budget}" id="budget"/>
                                <p class="error" th:if="${#fields.hasErrors('budget')}"th:errors="*{budget}"></p>
                            </div>
                        </th:block>

                        <th:block th:object="${dateTimeContainer}">
                            <div class="row">
                                <div class="col-6 col-md-4">
                                    <div class="form-group">
                                        <label for="startdatum">Start Date</label>
                                        <input class="form-control" th:field="*{startDate}" type="date" id="startdatum"/>
                                        <p class="error" th:if="${#fields.hasErrors('startDate')}"th:errors="*{startDate}"></p>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div class="form-group">
                                        <label for="enddatum">End Date</label>
                                        <input class="form-control" th:field="*{endDate}" type="date" id="enddatum"/>
                                        <p class="error" th:if="${#fields.hasErrors('endDate')}"th:errors="*{endDate}"></p>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2">
                                    <div class="form-group">
                                        <label for="startuhrzeit">Start Time</label>
                                        <input class="form-control" id="startuhrzeit" th:field="*{startTime}" type="time"/>
                                        <p class="error" th:if="${#fields.hasErrors('startTime')}"th:errors="*{startTime}"></p>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2">
                                    <div class="form-group">
                                        <label for="enduhrzeit">End Time</label>
                                        <input class="form-control" th:field="*{endTime}" type="time" id="enduhrzeit"/>
                                        <p class="error" th:if="${#fields.hasErrors('endTime')}"th:errors="*{endTime}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pause">Break between bands on stage</label>
                                <div class="row">
                                    <div class="col-6 col-md-3">
                                        <select class="form-control" id="pause" th:field="*{breakBetweenTwoBands}">
                                            <option value="5">5 Minuten</option>
                                            <option value="10">10 Minuten</option>
                                            <option value="15">15 Minuten</option>
                                            <option value="20">20 Minuten</option>
                                            <option value="25">25 Minuten</option>
                                            <option value="30">30 Minuten</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                        <th:block th:object="${address}">
                            <div class="form-group">
                                <label for="strhnr">Street and Street Number</label>
                                <input class="form-control" th:field="*{street}" type="text" id="strhnr"/>
                                <p class="error" th:if="${#fields.hasErrors('street')}"th:errors="*{street}"  ></p>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-3">
                                    <div class="form-group">
                                        <label for="plz">ZIP</label>
                                        <input class="form-control" th:field="*{zip}" type="text" id="plz"/>
                                        <p class="error" th:if="${#fields.hasErrors('zip')}"th:errors="*{zip}"  ></p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-9">
                                    <div class="form-group">
                                        <label for="ort">City</label>
                                        <input class="form-control" th:field="*{city}" type="text" id="ort"/>
                                        <p class="error" th:if="${#fields.hasErrors('city')}"th:errors="*{city}"  ></p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="land">Country</label>
                                <select class="form-control" id="land" th:field="*{country}">
                                    <option value="Belgien">Belgien</option>
                                    <option value="Bulgarien">Bulgarien</option>
                                    <option value="Dänemark">Dänemark</option>
                                    <option value="Deutschland">Deutschland</option>
                                    <option value="Estland">Estland</option>
                                    <option value="Finnland">Finnland</option>
                                    <option value="Frankreich">Frankreich</option>
                                    <option value="Griechenland">Griechenland</option>
                                    <option value="Irland">Irland</option>
                                    <option value="Italien">Italien</option>
                                    <option value="Kroatien">Kroatien</option>
                                    <option value="Lettland">Lettland</option>
                                    <option value="Litauen">Litauen</option>
                                    <option value="Luxemburg">Luxemburg</option>
                                    <option value="Malta">Malta</option>
                                    <option value="Niederlande">Niederlande</option>
                                    <option value="Österreich">Österreich</option>
                                    <option value="Polen">Polen</option>
                                    <option value="Portugal">Portugal</option>
                                    <option value="Rumänien">Rumänien</option>
                                    <option value="Slowakei">Slowakei</option>
                                    <option value="Slowenien">Slowenien</option>
                                    <option value="Spanien">Spanien</option>
                                    <option value="Schweden">Schweden</option>
                                    <option value="Schweiz">Schweiz</option>
                                    <option value="Tschechien">Tschechien</option>
                                    <option value="Ungarn">Ungarn</option>
                                    <option value="Zypern">Zypern</option>
                                </select>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <!-- Ticket Pricelevel -->
                        <h3>Tickets</h3>
                        <div class="row">
                            <!-- Dayticket -->
                            <div class="col-md-4 tickets" th:object="${tmk}">
                                <h3>Dayticket</h3>
                                <div class="form-group">
                                    <label for="dayticketcount">Number of Tickets</label>
                                    <input class="form-control" th:field="*{numberOfDayTickets}"  type="number" id="dayticketcount"/>
                                    <p class="error" th:if="${#fields.hasErrors('numberOfDayTickets')}"th:errors="*{numberOfDayTickets}"></p>
                                </div>
                                <div class="form-group" th:object="${tmk}">
                                    <label>Ticket Description</label>
                                    <textarea class="form-control" th:field="*{dayTicketDescription}" type="text" rows="3"></textarea>
                                    <p class="error" th:if="${#fields.hasErrors('dayTicketDescription')}"th:errors="*{dayTicketDescription}"  ></p>
                                </div>
                            </div>

                            <!-- Campingticket -->
                            <div class="col-md-4 tickets" th:object="${tmk}">
                                <h3>Campingticket</h3>
                                <div  class="form-group">
                                    <label for="campingticketcount">Number Of Tickets</label>
                                    <input class="form-control" th:field="*{numberOfCampingTickets}" type="number" id="campingticketcount"/>
                                    <p class="error" th:if="${#fields.hasErrors('numberOfCampingTickets')}"th:errors="*{numberOfCampingTickets}"  ></p>
                                </div>
                                <div class="form-group">
                                    <label for="campingticketdescription">Ticket Description</label>
                                    <textarea class="form-control" th:field="*{campingTicketDescription}" type="text" id="campingticketdescription" rows="3"></textarea>
                                    <p class="error" th:if="${#fields.hasErrors('campingTicketDescription')}"th:errors="*{campingTicketDescription}"  ></p>
                                </div>
                            </div>

                            <!-- VIP-Ticket -->
                            <div class="col-md-4 tickets" th:object="${tmk}">
                                <h3>VIP Ticket</h3>
                                <div class="form-group">
                                    <label for="vipticketcount">Number Of Tickets</label>
                                    <input class="form-control" th:field="*{numberOfVipTickets}" type="number" id="vipticketcount"/>
                                    <p class="error" th:if="${#fields.hasErrors('numberOfVipTickets')}"th:errors="*{numberOfVipTickets}"  ></p>

                                </div>
                                <div class="form-group">
                                    <label for="vipticketdescription">Ticket Description</label>
                                    <textarea class="form-control" th:field="*{vipTicketDescription}" type="text" id="vipticketdescription" rows="3"></textarea>
                                    <p class="error" th:if="${#fields.hasErrors('campingTicketDescription')}"th:errors="*{campingTicketDescription}"  ></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <!--PERCENTAGE-->
                        <div th:object="${tmk}">
                            <div  th:each="priceLevel, itemStat: *{priceLevels}">
                                <div class="form-group col-half">
                                    <label th:inline="text">Price Level [[${itemStat.index+1}]]</label>
                                    <input class="form-control" th:field="*{priceLevels[__${itemStat.index}__].percentageForPriceLevel}" type="number"/>
                                    <p class="error" th:if="${#fields.hasErrors('*{priceLevels[__${itemStat.index}__].percentageForPriceLevel}')}"th:errors="*{priceLevels[__${itemStat.index}__].percentageForPriceLevel}"  ></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                        <div class="row">
                            <div class="col-md-4">
                                <!--VIP-->
                                <div th:object="${tmk}">
                                    <div  th:each="priceLevel, itemStat: *{priceLevels}">
                                        <div class="form-group col-half">
                                            <label>Price</label>
                                            <input class="form-control" th:field="*{priceLevels[__${itemStat.index}__].vipTicketPrice}" type="number"/>
                                            <p class="error" th:if="${#fields.hasErrors('*{priceLevels[__${itemStat.index}__].vipTicketPrice}')}"th:errors="*{priceLevels[__${itemStat.index}__].vipTicketPrice}"  ></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!--DAY-->
                                <div th:object="${tmk}">
                                    <div  th:each="priceLevel, itemStat: *{priceLevels}">
                                        <div class="form-group col-half">
                                            <label>Price</label>
                                            <input class="form-control" th:field="*{priceLevels[__${itemStat.index}__].dayTicketPrice}" type="number"/>
                                            <p class="error" th:if="${#fields.hasErrors('*{priceLevels[__${itemStat.index}__].dayTicketPrice}')}"th:errors="*{priceLevels[__${itemStat.index}__].dayTicketPrice}"  ></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!--CAMPING-->
                                <div th:object="${tmk}">
                                    <div  th:each="priceLevel, itemStat: *{priceLevels}">
                                        <div class="form-group col-half">
                                            <label>Price</label>
                                            <input class="form-control" th:field="*{priceLevels[__${itemStat.index}__].campingTicketPrice}" type="number"/>
                                            <p class="error" th:if="${#fields.hasErrors('*{priceLevels[__${itemStat.index}__].campingTicketPrice}')}"th:errors="*{priceLevels[__${itemStat.index}__].campingTicketPrice}"  ></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-12">
                        <!-- Stage -->
                        <h3>Create Stage</h3>
                        <div th:object="${stage}" class="form-group">
                            <label for="stagename">Name Of Stage</label>
                            <div class="row">
                                <div class="col-10">
                                    <input class="form-control" th:field="*{stageName}" type="text" id="stagename"/>
                                    <p class="error" th:if="${#fields.hasErrors('stageName')}"th:errors="*{stageName}"  ></p>
                                </div>
                                <div class="col-2">
                                    <input class="form-control" th:field="*{identifier}" type="number" id="Identifier"/>
                                    <p class="error" th:if="${#fields.hasErrors('identifier')}"th:errors="*{identifier}"  ></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-outline-danger"/> <input type="reset" value="Reset" class="btn btn-outline-danger"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer th:replace="fragments/footer :: footer">
        </footer>
        <th:block th:include="fragments/javascript :: javascript"></th:block>
    </body>
</html>
