<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="de" class="h-100">
    <head th:replace="fragments/head :: head">
    </head>
    <body class="d-flex flex-column h-100">
        <header th:replace="fragments/header :: header">
        </header>

        <main role="main" class="flex-shrink-0">
            <div class="container">
                <h3>Your Tickets</h3>
                <h4>Your Event</h4>
                <div class="row justify-content-start">
                    <div class="col-md-6 col-sm-12">
                        <div th:each="order: ${client.getOrders_()}" class="row">
                            <div th:if="${!order.getDayTickets().isEmpty()}" class="col-4" >Description
                                <p th:text="${order.getDayTickets().get(0).getDescription()}"></p>
                            </div>
                                <div th:if="${!order.getCampingTickets().isEmpty()}" class="col-4" >Description
                                <p th:text="${order.getCampingTickets().get(0).getDescription()}"></p>
                                </div>
                                    <div th:if="${!order.getVipTickets().isEmpty()}" class="col-4" >Description
                                <p th:text="${order.getVipTickets().get(0).getDescription()}"></p>
                            </div>
                        </div>
                            <div class="col-8">Event Description blablabla
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">Date
                            </div>
                            <div class="col-8">Event Date
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">Ticket type
                            </div>
                            <div class="col-8">Camping
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">Price
                            </div>
                            <div class="col-8">129,99€
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer th:replace="fragments/footer :: footer">
        </footer>
        <th:block th:include="fragments/javascript :: javascript"></th:block>
    </body>
</html>
