<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/style.css" rel="stylesheet">
        <title>BORD</title>
    </head>
    <body>
        <header>
        </header>

        <div class= "bord">
            <h1>Welcome To <strong>BORD</strong> - Your <strong>F</strong>estival</h1>
        </div>
        <div class="center">
            <h3>Your Tickets</h3>
            <div class="buy_ticket">
                <fieldset>
                    <legend><strong>Your Event</strong></legend><br>
                    <label for="ticket">Decription</label>
                    <input type="text" name="ticket" value="" placeholder="" required/><br/><br>
                    <label for="date">Date</label>
                    <input type="text" name="date" value="" placeholder="" required/><br/><br>
                    <label for="type">Ticket type</label>
                    <input type="text" name="ticket_type" value="" placeholder="" required/><br/><br>
                    <label>Yourprice</label>
                    <input type="text" name="finalprice" value="" placeholder="" required/><br/>
                </fieldset><br>

            </div>
        </div>
        
        <div class="logout">
            <a href=""><button>Logout</button></a>
        </div>
        <div class="back">
            <a href="../user_menu"><button>Back</button></a>
        </div>
        
        </footer>
        </footer>
    </body>
</html>