<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="de" class="h-100">
    <head th:replace="fragments/head :: head">
    </head>
    <body class="h-100">
        <header th:replace="fragments/header :: header">
        </header>

        <div class="container stretch-to-bottom">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-sm-12">
                    <h3>Your Tickets for your event</h3></br> </br>

                    <div class="row justify-content-start">
                        <div th:each="order: ${client.getOrders_()}" class="row">
                            <div th:if="${!order.getDayTickets().isEmpty()}" class="col-4" >Description
                                <p th:text="${order.getDayTickets().get(0).ticketType}"></p>
                                <p th:text="${order.getDayTickets().get(0).getStdPrice()}"></p>
                                <p th:text="${order.getDayTickets().size()}"></p>
                            </div>
                            <div th:if="${!order.getCampingTickets().isEmpty()}" class="col-4" >Description
                                <p th:text="${order.getCampingTickets().get(0).getDescription()}"></p>
                            </div>
                            <div th:if="${!order.getVipTickets().isEmpty()}" class="col-4" >Description
                                <p th:text="${order.getVipTickets().get(0).getDescription()}"></p>
                            </div>
                        </div>
                    </div>

                    <div>Description:<!-- getDescription -->
                    </div></br> </br>
                    <div>Price:<!-- getPrice -->
                    </div></br> </br>
                    <div>Number:<!-- getNumber -->
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="fragments/footer :: footer">
        </footer>
        <th:block th:include="fragments/javascript :: javascript"></th:block>
    </body>
</html>
