<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="de" class="h-100">
    <head th:replace="fragments/head :: head">
    </head>
    <body class="d-flex flex-column h-100">
        <header th:replace="fragments/header_login :: header_login">
        </header>

		<div class="container h-100">
			<div class="row h-100 align-items-center justify-content-center">
				<div class="col-lg-6 col-sm-12">
					<div th:if="${param.error}" class="alert alert-warning" role="alert">
						Invalid username and password.
					</div>
					<div th:if="${param.logout}" class="alert alert-success" role="alert">
						You have been logged out.
					</div>
					<h2>Please Login</h2>
					<form th:action="@{/login}" method="post">
						<th:block>
							<div class="form-group">
								<label for="username">E-Mail Address</label>
								<input type="mail" name="username" placeholder="E-Mail" class="form-control" id="username"/>
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" name="password" placeholder="Password" class="form-control" id="password"/>
							</div>
							<button type="submit" class="btn btn-outline-danger btn-block" name="login">Login</button>
						</th:block>
					</form>
					</div>
				</div>
			</div>
		</div>

        <footer th:replace="fragments/footer :: footer">
        </footer>
        <th:block th:include="fragments/javascript :: javascript"></th:block>
    </body>
</html>
