<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <title>BORD</title>
</head>
<body>
<header>
</header>

<div class="bord">
    <h1>Welcome To <strong>BORD</strong> - Your <strong>F</strong>estival</h1>
</div>

<div class="center">
    <div class="content">
        <h2>Program</h2>
        <h4 th:if="${param.successAddBand}"> You successfully added a band to your program</h4>
        <h4 th:if="${param.successRemoveBand}"> You successfully removed a band from your program</h4>

        <div th:each="dayProgram : ${dayPrograms}">
            <p th:text="${dayProgram.getKey()}"></p>
            <div th:each="program : ${dayProgram.getValue().getProgramsForStages()}">
                <p th:text="${program.getKey().getStageName()}"></p>
                <div th:if="${program.getValue().getTimeSlots().size()>0}">
                    <div style="overflow: hidden;" th:each="timeSlot: ${program.getValue().getTimeSlots()}">
                        <p style="float: left;" th:text="${timeSlot.getTime()}"></p>
                        <p style="float: right;" th:text="${timeSlot.getBand().getName()}"></p>
                    </div>
                </div>
                <p th:if="${program.getValue().getTimeSlots().size()==0}">---</p>
            </div>
        </div>

        <!--th:action="@{/band_add(eventId=${eventId})}"-->
        <form th:object="${band}" action="#" th:action="@{/band_add}" method="post">
            <h4>Add band</h4>
            
            <input type="text" th:name="eventId" th:value="${eventId}" hidden/>
            <label for="bandName">Band name: </label><br>
            <input th:field="*{name}" type="text" id="bandName"/><br>
            <p class="error" th:if="${#fields.hasErrors('name')}"th:errors="*{name}"  ></p>
            <label for="tel">Phone: </label><br>
            <input th:field="*{phoneNumber}" type="tel" id="tel"/><br>
            <p class="error" th:if="${#fields.hasErrors('phoneNumber')}"th:errors="*{phoneNumber}"  ></p>
            <label for="price">Price per event: </label><br>
            <input th:field="*{pricePerEvent}" type="number" id="price"/><br>
            <p class="error" th:if="${#fields.hasErrors('pricePerEvent')}"th:errors="*{pricePerEvent}"  ></p>
            <label for="price">Minutes on stage: </label><br>
            <input th:field="*{minutesOnStage}" type="number" id="minutes"/><br>
            <p class="error" th:if="${#fields.hasErrors('minutesOnStage')}"th:errors="*{minutesOnStage}"  ></p>
            <div class="clear-left group">
                <input type="submit" value="Submit" class="button"/>
            </div>
        </form>
        <form th:object="${bandTimeSlotContainer}" action="#" th:action="@{/band_remove}" method="post">
            <h4>Remove band from all time slots</h4>
            <input type="text" th:name="eventId" th:value="${eventId}" hidden/>
            <select   th:field="*{bandId}">
                <option th:each="band1: ${bands}" th:value="${band1.getId()}" th:text="${band1.getName()}"></option>
            </select><br>
            <div class="clear-left group">
                <input type="submit" value="Submit" class="button"/>
            </div>
        </form>
        <form th:object="${bandTimeSlotContainer}" action="#" th:action="@{/band_remove}" method="post">
            <h4>Remove band from a certain time slot</h4>
            <input type="text" th:name="eventId" th:value="${eventId}" hidden/>
            <select  th:field="*{bandId}">
                <option th:each="band1: ${bands}" th:value="${band1.getId()}" th:text="${band1.getName()}"></option>
            </select><br>
            <p class="error" th:if="${#fields.hasErrors('bandId')}"th:errors="*{bandId}"  ></p>

            <br><input th:field="*{dateTimeToDeleteBand}" type="datetime-local"/><br>
            <p class="error" th:if="${#fields.hasErrors('dateTimeToDeleteBand')}"th:errors="*{dateTimeToDeleteBand}"  ></p>

            <div class="clear-left group">
                <input type="submit" value="Submit" class="button"/>
            </div>
        </form>
    </div>
</div>
<div class="logout">
    <form th:action="@{/logout}" method="post">
        <input class="button" type="submit" value="Logout"/>
    </form>
</div>
</div>

</footer>
</footer>
</body>
</html>


