<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="de" class="h-100">
<head th:replace="fragments/head :: head">
</head>
<body class="h-100">
<header th:replace="fragments/header :: header">
</header>
<div class="container stretch-to-bottom">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12">
            <h2>Program</h2>
            <div th:if="${param.successAddBand}" class="alert alert-success" role="alert">You successfully added a band to your program</div>
            <div th:if="${param.successRemoveBand}" class="alert alert-success" role="alert">You successfully removed a band from your program</h4></div>
            <div th:if="${param.successAddStage}" class="alert alert-success" role="alert">You successfully removed a band from your program</h4></div>
            <div th:if="${param.successCreate}" class="alert alert-success" role="alert">
                Festival created successfully
            </div>

            <a href="events" class="btn btn-primary">See All Events</a>
            <th:block th:each="dayProgram : ${dayPrograms}">
                <h4 class="clear-left" th:text="${dayProgram.getKey().getDayOfMonth()} + '.' + ${dayProgram.getKey().getMonthValue()} + '.'"></h4>
                <div class="program-wrapper mb-3">
                    <th:block th:each="program : ${dayProgram.getValue().getProgramsForStages()}">
                        <div class="program-card">
                            <p class="program-card-title" th:text="${program.getKey().getStageName()}"></p>
                            <div th:if="${program.getValue().getTimeSlots().size()>0}">
                                <div class="program-card-timewrapper" th:each="timeSlot: ${program.getValue().getTimeSlots()}">
                                    <p class="program-card-timeslot" th:text="${timeSlot.getTime()}"></p>
                                    <p class="program-card-band" th:text="${timeSlot.getBand().getName()}"></p>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </th:block>

            <!-- Button to trigger modal -->
            <div class="row clear-left justify-content-center">
                <div class="col-md-8 col-sm-12">
                    <div class="row clear-left">
                        <div class="col-md-4 mb-3">
                            <div class="row">
                                <div class="col mb-3">
                                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addBandModal">Add Band</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addStageModal">Add Stage</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 mb-3">
                            <div class="row">
                                <div class="col mb-3">
                                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#removeFromAllTimeslotsModal">Remove Band from all timeslots</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#removeFromTimeslotModal">Remove Band from a certain timeslot</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clear-left justify-content-center">
                <div class="col-md-8 mb-4">
                    <form th:object="${stageIdContainer}" action="#" th:action="@{/stage_remove}" method="post">
                        <h4>Remove stage</h4>
                        <input class="form-control" type="text" th:name="eventId" th:value="${eventId}" hidden/>
                        <div class="form-group">
                            <select class="form-control" th:field="*{stageId}">
                                <option th:each="stage: ${stages}" th:value="${stage.getId()}" th:text="${stage.getStageName() +' '+ stage.getIdentifier()}"></option>
                            </select>
                            <p class="error" th:if="${#fields.hasErrors('stageId')}"th:errors="*{stageId}"  ></p>
                        </div>

                        <button class="btn btn-outline-danger" type="submit"/>Submit</button>
                    </form>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="addBandModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:object="${band}" action="#" th:action="@{/band_add}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title">Add band</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!--th:action="@{/band_add(eventId=${eventId})}"-->
                                <input type="text" th:name="eventId" th:value="${eventId}" hidden/>

                                <div class="form-group">
                                    <label for="bandName">Band name</label>
                                    <input class="form-control" th:field="*{name}" type="text" id="bandName"/>
                                    <p class="error" th:if="${#fields.hasErrors('name')}"th:errors="*{name}"  ></p>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="tel">Phone</label>
                                            <input class="form-control" th:field="*{phoneNumber}" type="tel" id="tel"/>
                                            <p class="error" th:if="${#fields.hasErrors('phoneNumber')}"th:errors="*{phoneNumber}"  ></p>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-6">
                                        <div class="form-group">
                                            <label for="price">Price per event</label>
                                            <input class="form-control" th:field="*{pricePerEvent}" type="number" id="price"/>
                                            <p class="error" th:if="${#fields.hasErrors('pricePerEvent')}"th:errors="*{pricePerEvent}"  ></p>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-6">
                                        <div class="form-group">
                                            <label for="minutesonstage">Minutes on stage</label>
                                            <input class="form-control" th:field="*{minutesOnStage}" type="number" id="minutesonstage"/>
                                            <p class="error" th:if="${#fields.hasErrors('minutesOnStage')}"th:errors="*{minutesOnStage}"  ></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-outline-danger" type="submit"/>Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="removeFromAllTimeslotsModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:object="${bandTimeSlotContainer}" action="#" th:action="@{/band_remove}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title">Remove band from all time slots</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input class="form-control" type="text" th:name="eventId" th:value="${eventId}" hidden/>
                                <div class="form-group">
                                    <select class="form-control" th:field="*{bandId}">
                                        <option th:each="band1: ${bands}" th:value="${band1.getId()}" th:text="${band1.getName()}"></option>
                                        <p class="error" th:if="${#fields.hasErrors('bandId')}"th:errors="*{bandId}"  ></p>
                                        <p class="error" th:if="${#fields.hasErrors('dateTimeToDeleteBand')}"th:errors="*{dateTimeToDeleteBand}"  ></p>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-outline-danger" type="submit"/>Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="removeFromTimeslotModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:object="${bandTimeSlotContainer}" action="#" th:action="@{/band_remove}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title">Remove band from a certain time slot</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" th:name="eventId" th:value="${eventId}" hidden/>
                                    <select class="form-control" th:field="*{bandId}">
                                        <option th:each="band1: ${bands}" th:value="${band1.getId()}" th:text="${band1.getName()}"></option>
                                    </select>
                                    <p class="error" th:if="${#fields.hasErrors('bandId')}"th:errors="*{bandId}"  ></p>
                                    <input class="form-control" th:field="*{dateTimeToDeleteBand}" type="datetime-local"/>
                                    <br><p class="error" th:if="${#fields.hasErrors('dateTimeToDeleteBand')}"th:errors="*{dateTimeToDeleteBand}"  ></p>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-outline-danger" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="addStageModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:object="${stage}" action="#" th:action="@{/stage_add}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add stage</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input class="form-control" type="text" th:name="eventId" th:value="${eventId}" hidden/>

                                <div class="form-group">
                                    <label >Stage name</label>
                                    <input class="form-control" th:field="*{stageName}" type="text" />
                                    <p class="error" th:if="${#fields.hasErrors('stageName')}"th:errors="*{stageName}"  ></p>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-6">
                                        <div class="form-group">
                                            <label for="stageidentifier">Identifier</label>
                                            <input class="form-control" th:field="*{identifier}" type="number" id="stageidentifier"/>
                                            <p class="error" th:if="${#fields.hasErrors('identifier')}"th:errors="*{identifier}"  ></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-outline-danger" type="submit"/>Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer">
</footer>
<th:block th:include="fragments/javascript :: javascript"></th:block>
</body>
</html>
