<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="de" class="h-100">
    <head th:replace="fragments/head :: head">
    </head>
    <body class="d-flex flex-column h-100">
        <header th:replace="fragments/header :: header">
        </header>

		<div class="container h-100">
			<div class="row h-100 align-items-center justify-content-center">
				<div class="col-lg-8 col-sm-12">
					<div th:if="${mailError}" class="alert alert-warning" role="alert">
						E-Mail already exists.
					</div>
					<h2>New to BORD?</h2>			
					<form th:action="@{/register}" method="post">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<th:block th:object="${client}">
									<div class="form-group">
										<label for="firstname-input">First name</label>
										<input type="text" name="firstname" class="form-control" id="firstname-input" th:field="*{firstname}"/>
										<p class="error" th:if="${#fields.hasErrors('firstname')}"th:errors="*{firstname}"></p>
									</div>
									<div class="form-group">
										<label for="lastname-input">Last name</label>
										<input type="text" name="lastname" class="form-control" id="lastname-input" th:field="*{lastname}"/>
										<p class="error" th:if="${#fields.hasErrors('lastname')}"th:errors="*{lastname}"></p>
									</div>
									<div class="form-group">
										<label for="mail-input">E-Mail Address</label>
										<input type="mail" name="mail" class="form-control" id="mail-input" th:field="*{mail}"/>
										<p class="error" th:if="${#fields.hasErrors('mail')}"th:errors="*{mail}"></p>
									</div>
									<div class="form-group">
										<label for="password-input">Password</label>
										<input type="password" name="password" class="form-control" id="password-input" th:field="*{password}"/>
										<p class="error" th:if="${#fields.hasErrors('password')}"th:errors="*{password}"></p>
									</div>
								</th:block>
							</div>
							<div class="col-md-6 col-sm-12">
								<th:block th:object="${address}">
									<div class="form-group">
										<label for="country-input">Country</label>
										<select class="form-control" id="country-input" th:field="*{country}">
											<option value="Belgien">Belgien</option>
											<option value="Bulgarien">Bulgarien</option>
											<option value="Dänemark">Dänemark</option>
											<option value="Deutschland">Deutschland</option>
											<option value="Estland">Estland</option>
											<option value="Finnland">Finnland</option>
											<option value="Frankreich">Frankreich</option>
											<option value="Griechenland">Griechenland</option>
											<option value="Irland">Irland</option>
											<option value="Italien">Italien</option>
											<option value="Kroatien">Kroatien</option>
											<option value="Lettland">Lettland</option>
											<option value="Litauen">Litauen</option>
											<option value="Luxemburg">Luxemburg</option>
											<option value="Malta">Malta</option>
											<option value="Niederlande">Niederlande</option>
											<option value="Österreich">Österreich</option>
											<option value="Polen">Polen</option>
											<option value="Portugal">Portugal</option>
											<option value="Rumänien">Rumänien</option>
											<option value="Slowakei">Slowakei</option>
											<option value="Slowenien">Slowenien</option>
											<option value="Spanien">Spanien</option>
											<option value="Schweden">Schweden</option>
											<option value="Schweiz">Schweiz</option>
											<option value="Tschechien">Tschechien</option>
											<option value="Ungarn">Ungarn</option>
											<option value="Zypern">Zypern</option>
										</select>
										<p class="error" th:if="${#fields.hasErrors('country')}"th:errors="*{country}"></p>
									</div>
									<div class="form-group">
										<label for="city-input">City</label>
										<input type="text" name="city" class="form-control" id="city-input" th:field="*{city}"/>
										<p class="error" th:if="${#fields.hasErrors('city')}"th:errors="*{city}"></p>
									</div>
									<div class="form-group">
										<label for="zip-input">ZIP</label>
										<input type="text" name="zip" class="form-control" id="zip-input" th:field="*{zip}"/>
										<p class="error" th:if="${#fields.hasErrors('zip')}"th:errors="*{zip}"></p>
									</div>
									<div class="form-group">
										<label for="street-input">Street & Street Number</label>
										<input type="text" name="street" class="form-control" id="street-input" th:field="*{street}"/>
										<p class="error" th:if="${#fields.hasErrors('street')}"th:errors="*{street}"></p>
									</div>
								</th:block>
							</div>
						</div>
						<button type="submit" class="btn btn-outline-danger btn-block" name="register">Register</button>
					</form>
				</div>
			</div>
		</div>

        <footer th:replace="fragments/footer :: footer">
        </footer>
        <th:block th:include="fragments/javascript :: javascript"></th:block>
    </body>
</html>
