<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="de" class="h-100">
<head th:replace="fragments/head :: head">
</head>
<body class="d-flex flex-column h-100">
<header th:replace="fragments/header :: header">
</header>

<div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-lg-4 col-sm-12">
            <h3 class="ok">Error!</br>
                Your purchase failed</h3>
            <p th:text="${exception.getMessage()}"></p>
            <div class="buy_ticket">
                </br></br>
                <div class="form-group">
                    <a th:href="@{/buy_ticket_user(eventId = ${event.getId()})}" class="btn btn-outline-danger">Choose your ticket</a>
                    <a href="user_menu" class="btn btn-outline-danger">Back to select</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer">
</footer>

<th:block th:include="fragments/javascript :: javascript"></th:block>
</body>
</html>