<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/style.css" rel="stylesheet">
        <title>BORD</title>
    </head>
    <body>
        <header>
        </header>

        <div class= "bord">
            <h1>Welcome To <strong>BORD</strong> - Your <strong>F</strong>estival</h1>
        </div>
        <div class="center">
            <h2>Please select an event</h2>
            <div class="user_event">
                <a th:each="event : ${events}" th:href="@{/buy_ticket_user(eventId = ${event.getId()})}"><button name="event1" th:text="${event.getName()}"></button></a>
            </div>
            <h4>Or inform yourself about your events</h4>
            <a href="information_user"><button name="information">Your Events</button></a>
        </div>

        <div class="logout"><button>Logout</button>
        </div>
        <div class="back">
            <a href="../index"><button>Back</button></a>
        </div>
        </footer>
        </footer>
    </body>
</html>
